<div class="user-wrapper">
      <div class="cont">

        <div class="user-left">
        #ユーザー画像はここに挿入
          

          <div class="user-profile">
            <div class="user-name">
              <h3><%= @user.name %></h3>
            </div>


            #ユーザー編集はここに挿入

            <div class="user-time">
              <p>積み上げ総時間</p>
              <h2><%= post.all.sum(:time) %></h2>
            </div>
          </div>
        </div>




          <div class="user-right">
         <div class="user-contents">

            <div class="user-title">
              <h2>あなたの積み上げ</h2>
            </div>

            <% @post.each do |post| %>
            <div class="user-content">
              <p class="time"><%= post.time %>分</p>
              <p class="content"><%= post.type %></p>
              <p class="matter"><%= post.content %></p>
              <% if @user.id == @current_user.id %>
              <%= link_to("編集", "/posts/#{post.id}/edit") %>
              <%= link_to("削除", "/posts/#{post.id}/destroy",{method:"post"}) %>
              <% end %>
            </div> 
            <% end %>

          </div>
        </div>



    
    </div>


</div>




